* {
    margin: 0;
    padding: 0;
}
body {
 background-image:url(../FOTOS/LogoElegantedeIsabellaAtacadista.png);
background-size: cover; 
background-repeat: no-repeat; 
background-position: center;
color: black;


}
.header-desktop {
    position: sticky;
    width: 90%; /* Define a largura do header (ajuste conforme necessário) */
    max-width: 192000px; /* Define um limite máximo de largura */
    top: 0;
    display: flex; /* Ativa o Flexbox */
    justify-content: space-between; /* Espaço entre os elementos */
    align-items: center; /* Alinha verticalmente */
    padding: 10px 20px; /* Espaçamento interno */
    margin: 0 auto; /* Centraliza o header horizontalmente */
    border-radius: 0; /* (Opcional) Adiciona bordas arredondadas */
    box-shadow:  0 1px 0 1px rgba(131, 131, 131, 0.075); /* (Opcional) Adiciona uma sombra */
}

#conta-simples {
    max-width: 192000px; /* Define um limite máximo de largura */
    display: flex; /* Alinha os itens horizontalmente */
    list-style: none; /* Remove os marcadores padrão */
    text-transform: uppercase; /* Deixa o texto em maiúsculas */
    color: black; /* Define a cor do texto */
    font-size: 15px; /* Define o tamanho da fonte */
    gap: 25px; /* Espaçamento entre os itens */  
     background-color: #f8f8f8; /* (Opcional) Adiciona uma cor de fundo */
}

.header-baixo-desktop {
   
    background-color: rgba(255, 255, 255, 0.938); /* Branco com 80% de opacidade */
    display: flex; /* Ativa o Flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Alinha verticalmente */
    padding: 10px 0; /* Espaçamento interno */
    width: 80%; /* Reduz a largura para 80% */
    margin: 0 auto; /* Centraliza horizontalmente */
}

.nav-desktop .list-desktop {
    display: flex; /* Alinha os itens horizontalmente */
    list-style: none; /* Remove os marcadores padrão */
    gap: 20px; /* Espaçamento entre os itens */
    padding: 0; /* Remove o padding padrão */
    margin: 10px;
    
}

.nav-desktop .list-desktop li a {
    text-decoration: none; /* Remove o sublinhado */
    color: black; /* Define a cor do texto */
    font-size: 27px; /* Define o tamanho da fonte */
    text-transform: uppercase; /* Deixa o texto em maiúsculas */
   
}
