* {

    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-image: url(../IMAGEN/imagenbranca.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

